*{
    margin: 0;
  }
  
  body{
    overflow-x: hidden;
  }
  
  .game{
    width: 1080px;
    height: 720px;
    border: 10px solid black;
    background-image: url("img/namek.jpg");
    background-size: cover;
    transition: 6000s;
    transition-timing-function: linear
  }
  .game {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image2 {
    position: absolute;
    top: 4px;
    left: 18px;
  }